@font-face{
    font-family: 'Abaddon';
    src: url('/assets/fonts/ofont.ru_Abaddon.ttf');
}

body {
    box-sizing: border-box;
    background-color: black;
    background-image: url('assets/img/bg.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    color:rgb(247, 247, 236);
    font-family: 'Abaddon';
}


h1 {
    font-size: 60px;
    margin-left: 20px;
    line-height: 30px;
    text-align: center;
}

h2 {
    margin-left: 20px;
    font-size: 40px;
    text-decoration: underline;
}

.level {
    display: block;
    font-size: 50px;
    cursor: pointer;
    margin-top: 20px;
    padding-left: 20px;
}

.choose {
    list-style-type: none;
    cursor: pointer;
}
/* 
.choose:hover {
    display: block;
    color:brown
} */

.ancuents {
    display: flex;
    gap: 15px;
}

.an-card {
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    cursor: pointer;
    height: 260px;
    width: 200px;
}


.first {
    background-image: url('assets/Ancients/Azathoth.png');
}

.second {
    background-image: url('assets/Ancients/Cthulthu.png');
}

.third {
    background-image: url('assets/Ancients/IogSothoth.png');
}

.forth {
    background-image: url('assets/Ancients/ShubNiggurath.png');
}

.button {
    cursor: pointer;
    position: absolute;
    top: 20px;
    font-size: 30px;
    color: #a31a10;
}

.none {
    display: none;
}

.main-container {
    display: flex;
    gap: 20px;
}

.left-side {
    max-width: 880px;
}

.right-side {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    min-width: 30%;
}

.scheme {
    display: none;
}

.card-shirt {
    cursor: pointer;
    background-size: cover;
    height: 190px;
    width: 130px;
    margin-top: 20px;
    background-image: url('assets/img/mythicCardBackground.png');
}

.showCard {
    background-size: cover;
    height: 190px;
    width: 130px;
    border: 2px #c01b08 solid;
    margin-top: 20px;
}

.dots-container {
    display: flex;
    justify-content: space-between;
}

.stage-container {
    margin-top: 15px;
}

.stage-text {
    font-size: 20px;
}

.dots-container {
    margin-top: 15px;
}

.green {
    color: green;
}

.brown {
    color: brown;
}

.blue {
    color: blue;
}

.border {
    border: 4px #c01b08 solid;
}

.color {
    color: #c01b08;
}


